<section class="product-carousel pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-3">Our Products</h2>
      </div>
      <!-- <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- Slide 1  -->
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/brushes.jpg" alt="An assortment of pool brushes">
                    <div class="card-body">
                      <h4 class="card-title">Brushes</h4>
                      <!-- <p class="card-text">We stock soft and hard bristle brushes</p> -->
                      <ul>
                        <li>
                          <p class="card-text">Soft Bristle</p>
                        </li>
                        <li>
                          <p class="card-text">Hard (Algae) Bristle</p>
                        </li>
                        <li>
                          <p class="card-text">Stainless Steel</p>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/poles-aluminium-telescopic.png" alt="An assortment of pool cleaning poles">
                    <div class="card-body">
                      <h4 class="card-title">Poles</h4>
                      <!-- <p class="card-text">We stock continous and telescopic poles in various sizes.</p> -->
                      <ul>
                        <li>
                          <p class="card-text">Aluminium in 2m, 3m, 4m and 5m </p>
                        </li>
                        <li>
                          <p class="card-text">1-2m Telescopic Poles</p>
                        </li>
                        <li>
                          <p class="card-text">1.5-3m Telescopic Poles</p>
                        </li>
                        <li>
                          <p class="card-text">2-4m Telescopic Poles</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Card 3 -->
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/pool-cleaner-parts.png" alt="An assortment of pool cleaner parts" >
                    <div class="card-body">
                      <h4 class="card-title">Pool Cleaner Spares</h4>
                      <ul>
                        <li>
                          <p class="card-text">Skirts and Footpads</p>
                        </li>
                        <li>
                          <p class="card-text">Diaphragms</p>
                        </li>
                        <li>
                          <p class="card-text">Swivels Sections</p>
                        </li>
                        <li>
                          <p class="card-text">Floats and weights</p>
                        </li>
                        <li>
                          <p class="card-text">Hoses</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End Card 3 -->
              </div>
              <!-- End Slide 1  -->
            </div>
            <!-- End Carousel Container  -->
            <!-- Start of Slide 2-->
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/filter covers.jpg" alt="An assortment of filter covers">
                    <div class="card-body">
                      <h4 class="card-title">Filter Covers</h4>
                      <ul>
                        <li>
                          <p class="card-text">Square Tan - Moulded </p>
                        </li>
                        <li>
                          <p class="card-text">Square Green - Moulded</p>
                        </li>
                        <li>
                          <p class="card-text">Rock Feature - Fibreglass</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/lights.jpg" alt="An assortment of pool LED lights">
                    <div class="card-body">
                      <h4 class="card-title">Lights</h4>
                      <ul>
                        <li>
                          <p class="card-text">Blue LED and White LED</p>
                        </li>
                        <li>
                          <p class="card-text">Colour Changing LED</p>
                        </li>
                        <li>
                          <p class="card-text">Sealed Beams</p>
                        </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" src="/assets/images/rakes and skimmers.jpg" alt="An assortment of pool nets, rakes and skimmers">
                    <div class="card-body">
                      <h4 class="card-title">Scoops and Leaf Rakes</h4>
                      <p class="card-text">We stock a variety of items ranging in size.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Slide 2 -->
            <!-- End Carousel Container  -->
            <!-- Start of Slide 3 -->
            <!-- <div class="carousel-item">
              <div class="row"> -->

            <!-- <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280"
                      src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div> -->
            <!-- <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                    </div>
                                </div>
                            </div> -->
            <!-- <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                    <div class="card-body">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div> -->
            <!-- </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>