<footer id="footer" class="footer">
  <a name="Contact"></a>
  <div class="container-fluid py-2 col-md-8 m-auto">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h6><b>Contact Us</b></h6>
        </div>
        <div class="footer-text">
          <div><span class="icon"><i class="fas fa-phone-square mr-2"></i></span><a href="tel:+27317654003">031 765 4003</a></div>
          <div><span class="icon"><i class="fas fa-phone-square mr-2"></i></span><a href="tel:+27640771739">064 077 1739</a></div>
          <div><span class="icon"><i class="fas fa-envelope"></i></span><a
              href="mailto:info@poolware.co.za?subject=Website Enquiry">info@poolware.co.za</a>
          </div>
          <div><span class="icon"><i class="fas fa-map-marked-alt mr-2"></i></span>4A Hillcrest Centre</div>
          <div><span class="icon"></span>42 Old Main Rd</div>
          <div><span class="icon"></span>Hillcrest</div>
          <div><span class="icon"></span>Durban</div>
          <br>
          <h6><b>Trading Hours</b></h6>
          <div><span class="icon"></span>Monday to Friday: 8AM to 5PM</div>
          <div><span class="icon"></span>Saturday: 8AM to 1PM</div>
          <div><span class="icon"></span>Closed on Sunday and Public Holidays</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="float-right" style="width: 100%">
          <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=4A,%20Hillcrest%20Centre,%2042%20Old%20Main%20Rd,%20Hillcrest,%20Durban+(Poolware%20and%20Service)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          <a
            href="https://www.google.com/maps/dir//Poolware+And+Service,+4A,+Hillcrest+Centre,+Old+Main+Road,+Hillcrest,+Durban/">Journey
            Planner</a>
        </div>
      </div>

    </div>
  </div>

</footer>