<div id="hero" class="hero py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="hero-title">Poolware & Service</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 class="float-left">
                    <span class="badge badge-custom-color">FREE WATER TESTS</span><br />
                    <a href="tel:+27317654003" class="badge badge-custom-color"><span class="icon"><i
                                class="fas fa-phone-square mr-2"></i></span>031 765 4003</a>
                </h3>
                <h3 class="text-right "><span class="bg-transparent">Servicing the Upper Highway and Outer West suburbs
                        of Durban</span>
                </h3>
            </div>
        </div>
    </div>
</div>