<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <title>Bootstrap - Hero Section</title>
</head>

<body>

    <section class="hero">
        <div class="container">
            <h1>Poolware and Service</h1>
            <div class="row">
                <div class="col-md-7">
                    <p>Long text string</p>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src=" js/jquery-3.2.1.slim.min.js">
    </script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>