<div id="hero" class="hero py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="hero-title">Poolware and Service</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 class="float-left"><span class="badge badge-custom-color">Call: 031 765 4003</span></h3>
                <h3 class="float-right"><span class="badge bg-transparent">Servicing Durban Outer West & Highway</span>
                </h3>
            </div>
        </div>
    </div>
</div>