.footer {
  width: 100%;
  background-color: #242729;
  height: 500px;
}

.footer .icon {
  width: 2em;
  display: inline-block;
  color: #f8f8f8;
}

.footer a,
h6 {
  color: #f8f8f8;
}

.footer-text {
  color: #f8f8f8;
}
