/* Hero Section */
#hero {
  height: 50vh;
  background-image: url('/assets/images/x.jpg');
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: #ffc500;
  text-shadow: 1px 1px 1px #000;
}

.intro p {
  font-size: 1.35rem;
}

/* Additional Styles */
.float-left {
  float: left;
}

.text-right {
  text-align: right;
}

.bg-transparent {
  background-color: transparent;
}

/* Badge Styles (if needed) */
.badge-custom-color {
  /* Add styles for badge if needed */
}


.intro h1,
.intro h2,
.intro h3,
.intro p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Montserrat";
}




